{
    "env": {
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
        }
    },
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "block-scoped-var": "error",
        "brace-style": "error",
        "callback-return": ["error", ["callback", "cb", "next"]],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", {"before": false, "after": true}],
        "comma-style": ["error", "last"],
        "complexity": ["warn", 6],
        "computed-property-spacing": ["error", "never"],
        "consistent-return": "error",
        "consistent-this": ["error", "self"],
        "curly": ["error", "all"],
        "default-case": "error",
        "dot-location": ["error", "property"],
        "dot-notation": ["error", {"allowKeywords": true, "allowPattern": ""}],
        "eqeqeq": ["error", "smart"],
        "eol-last": "error",
        "func-names": "error",
        "func-style": ["error", "declaration"],
        "global-require": "error",
        "guard-for-in": "error",
        "handle-callback-err": ["error", "^.*(e|E)rr" ],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
        "linebreak-style": ["error", "unix"],
        "lines-around-comment": ["error", { "beforeBlockComment": true, "allowBlockStart": true }],
        "max-depth": ["error", 5],
        "max-nested-callbacks": ["error", 5],
        "max-len": ["error", 80, 8, {"ignoreUrls": true}],
        "new-parens": "error",
        "newline-after-var": ["error", "always"],
        "no-array-constructor": "error",
        "no-case-declarations": "error",
        "no-cond-assign": ["error", "always"],
        "no-console": "warn",
        "no-constant-condition": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-else-return": "error",
        "no-empty": "error",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native":"error",
        "no-extra-bind": "error",
        "no-extra-semi": "error",
        "no-floating-decimal": "error",
        "no-implicit-coercion": "error",
        "no-inner-declarations": "error",
        "no-irregular-whitespace": "error",
        "no-labels": "error",
        "no-label-var": "error",
        "no-loop-func": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-magic-numbers": ["error", {ignore: [-1, 0, 1, 2]}],
        "no-mixed-requires": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-spaces": ["error", { exceptions: { "Property": false } }],
        "no-multiple-empty-lines": ["error", {"max": 2}],
        "no-multi-str": "error",
        "no-negated-condition": "error",
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-proto": "error",
        "no-return-assign": ["error", "always"],
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-unneeded-ternary": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-warning-comments": ["warn", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "no-with": "error",
        "object-curly-spacing": ["error", "never"],
        "one-var": ["error", "never"],
        "operator-linebreak": ["error", "before"],
        "padded-blocks": ["error", "never"],
        "radix": "error",
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "semi-spacing": "error",
        "sort-vars": ["error", {"ignoreCase": true}],
        "keyword-spacing": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "spaced-comment": ["error", "always"],
        "vars-on-top": "error",
        "wrap-iife": ["error", "inside"],
        "wrap-regex": "error"
    }
}
